<p>Elige 2 posiciones de tus barcos</p>

<div class="tablero">
    <table>
        <tbody class="filas" *ngFor="let letra of tableA">
            <tr>{{letra}}</tr>
            <tr *ngFor="let number of table">
                <td>{{number}}{{letra}}</td>
              </tr>      
        </tbody>
    </table>
    <table>
          <tbody class="filas" *ngFor="let letra of tableA">
              <tr>{{letra}}</tr>
              <tr *ngFor="let number of table">
                  <td>{{number}}{{letra}}</td>
                </tr>      
          </tbody>
    </table>
</div>
<button>Continuar</button>
